  <div class="register">
    <h2 class="register-header">Register</h2>
    <form name="registerForm" [formGroup]="registerForm" class="register-container" (ngSubmit)="onSubmit()">

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
        <input type="text" placeholder="Name" formControlName="username">
      </p>
  
      <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
        <div *ngIf="formControls.username.errors.required">Name is required</div>
      </div>

      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
          <input type="email" placeholder="Email" formControlName="email">
        </p>
    
      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>

      <p [ngClass]="{ 'has-error': isSubmitted && formControls.mobile.errors }">
          <input type="text" placeholder="Mobile" formControlName="mobile">
      </p>
    
      <div *ngIf="isSubmitted && formControls.mobile.errors" class="help-block">
        <div *ngIf="formControls.mobile.errors.required">Mobile is required</div>
      </div>      
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>
  
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
  
      <p>
        <input type="submit" value="Register">
      </p>
      <p>
        <a routerLink="/" >Login</a>
      </p>
    </form>
  </div>

